@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#05060f] text-white overflow-hidden;
  }
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: #05060f !important;
}

/* Custom scrollbar for dark mode */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}
